<div class="container-fluid">
  <!-- Uso do PIPE para transformar a variável msgBoasVindas em strging com letras maiúsculas -->
  <h1 class="text-center my-1 text-primary">{{ msgBoasVindas | uppercase }}</h1>
  <div class="row m-2">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <img src="assets/img/angular-logo.png" class="img-fluid rounded" />
        </div>
      </div>
    </div>
    <div class="col-md-4 bg-dark">
      <div class="card">
        <div class="card-body">
          <img src="assets/img/crud-img.jpg" class="img-fluid rounded" />
        </div>
      </div>
    </div>
  </div>
</div>

<app-card-produto>
  [fotoCard]="fotoCard" [nomeProduto]="nomeProduto" [promocao]="promocao"
  [validade]="validade" [idProduto]="idProduto" [preco]="preco"
</app-card-produto>
